<div class="container">
  <h1>Vos restaurants à proximité</h1>

  <div class="row">
    <form class="col-md-6 searchByName">
      <label for="search">{{ 'Cherchez votre restaurant' | uppercase}}</label>
      <input type="text" id="search" class="form-control" name="inputText" (keyup)="changeValue($event)">
    </form>

    <form class="col-md-2 searchBySpeciality" *ngFor="let speciality of specialities | slice:0:3 ">
      <label class="checkbox-inline" >
        <input type="checkbox" name="speciality" [(ngModel)]="speciality.checked" (change)="updateCheckbox()">
        {{speciality.name}}
      </label>
    </form>
    <form class="col-md-2 searchBySpeciality" *ngFor="let speciality of specialities | slice:3:6 ">
      <label class="checkbox-inline" >
        <input type="checkbox" name="speciality" [(ngModel)]="speciality.checked" (change)="updateCheckbox()">
        {{speciality.name}}
      </label>
    </form>
    <form class="col-md-2 searchBySpeciality" *ngFor="let speciality of specialities | slice:6 ">
      <label class="checkbox-inline" >
        <input type="checkbox" name="speciality" [(ngModel)]="speciality.checked" (change)="updateCheckbox()">
        {{speciality.name}}
      </label>
    </form>

  </div>
</div>

<restaurant-list [searchInput]="searchInput" [checkboxes]="specialitiesCheck"></restaurant-list>
