<button type="button" class="btn-search">
  <img src="app/images/icons/search.png" />
</button>

<div class="container proposition-list">
  <h1> Propositions </h1>

  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngFor="let proposition of propositions; let i = index">
    <button type="button" *ngIf="proposition.user_creator.id === currentUser"
            class="btn-closed" (click)="delete(proposition.id, i)">
      <img src="app/images/icons/close.png" alt="close" />
    </button>
    <div class="container-prop">
      <div class="detail">
        <div class="user">
          <div class="col-xs-3">
            <img src="{{proposition.user_creator.profil}}" alt="profil_creator" />
          </div>
          <div class="col-xs-9">
            <h4>{{proposition.user_creator.firstname}} {{proposition.user_creator.lastname}}</h4>
            <p> propose ... </p>
          </div>
        </div>
        <div class="col-xs-12">
          <h3>{{proposition.restaurant.name}}</h3>
          <p>({{proposition.restaurant.speciality}})</p>
        </div>
      </div>

      <div class="bandeau">
        <p>{{proposition.date}}</p>

        <button class="top" (click)="goToProposition(proposition.id)"><img src="app/images/icons/search.png" alt="recherche"></button>
        <button (click)="participate(proposition.id)">
          <img class="speImg" [attr.src]="currentProposition === proposition.id ?
          'app/images/icons/validgreen.png' : 'app/images/icons/valid.png'"
               alt="validation">
        </button>
      </div>
    </div>

  </div>
</div>

<button type="button" class="btn-proposition" (click)="staticModal.show()">
  <img src="app/images/icons/add.png" />
</button>

<div class="modal fade" bsModal #staticModal="bs-modal" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">

  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="staticModal.hide()">&times;</button>
        <h4 class="modal-title">Ajouter une proposition</h4>
      </div>
      <div class="modal-body">
        <form (submit)="addOneProposition(proposition)">
          <div class="row row-choice">
            <div class="col-lg-offset-3 col-lg-3 col-md-offset-3 col-md-3 col-xs-12">
              <div class="btn-group" dropdown>
                <button type="button" class="btn btn-modal-proposition" dropdownToggle>
                  Restaurants <span class="caret"></span>
                </button>
                <ul dropdownMenu role="menu" aria-labelledby="single-button">
                  <li role="menuitem" *ngFor="let restaurant of restaurants">
                    <a class="dropdown-item" (click)="getRestaurant(restaurant.id)">{{restaurant.name}}</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-md-3 col-lg-3 col-xs-12">
              <timepicker [(ngModel)]="proposition.date" [showMeridian]="ismeridian"
                          [hourStep]="1" [minuteStep]="1" name="date"></timepicker>
            </div>

          </div>

          <div class="row">
            <button type="submit" class="btn btn-modal-proposition" (click)="staticModal.hide()">
              Je suis sûre de ma proposition !
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<div class="effect-background">
  <div class="effect-circle"></div>
</div>
