<div class="password">
  <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-12">
    <form name="newPassword" (ngSubmit)="updatePassword(myForm.value)" [formGroup]="myForm">
      <div class="form-group">
        <label for="oldPassword">Ancien mot de passe</label>
        <div class="input-group">
          <div class="input-group-addon"><img src="app/images/icons/oldpw.png" alt="oldpw"/></div>
          <input type="password" class="form-control" id="oldPassword" name="oldPassword" formControlName="oldPassword" />
        </div>
        <div class="inform error" *ngIf="myForm.get('oldPassword').hasError('required') && myForm.controls['oldPassword'].touched">
          Votre ancien mot de passe est requis
        </div>
        <div class="inform error" *ngIf="!myForm.get('oldPassword').hasError('required') && !notSameOldPw">
          Ce n'est pas votre mot de passe actuel
        </div>
        <div class="inform valid" *ngIf="!myForm.get('oldPassword').hasError('required') && notSameOldPw">
          C'est votre mot de passe actuel
        </div>
      </div>

      <div class="form-group">
        <label for="newPassword">Nouveau mot de passe</label>
        <div class="input-group">
          <div class="input-group-addon"><img src="app/images/icons/newpw.png" alt="newpw"/></div>
          <input type="password" class="form-control" id="newPassword" name="newPassword" formControlName="newPassword"
                 reverse="true" validateEqual="newPassword2" />
        </div>
        <div class="inform error" *ngIf="myForm.get('newPassword').hasError('required') && myForm.controls['newPassword'].touched">
          Votre mot de passe est requis
        </div>
      </div>

      <div class="form-group">
        <label for="newPassword2">Re-tapez mot de passe</label>
        <div class="input-group">
          <div class="input-group-addon"><img src="app/images/icons/checkpw.png" alt="checkpw"/></div>
          <input type="password" class="form-control" id="newPassword2" name="newPassword2" formControlName="newPassword2"
                 validateEqual="newPassword"/>
        </div>
        <div class="inform error" *ngIf="myForm.get('newPassword2').hasError('required') && myForm.controls['newPassword2'].touched">
          Vous devez check vos mots de passe
        </div>
        <div class="inform error" *ngIf="myForm.get('newPassword2').hasError('misMatched') && !myForm.get('newPassword2').hasError('required')">
          Le mot de passe n'est pas identique
        </div>
        <div class="inform valid" *ngIf="!myForm.get('newPassword2').hasError('misMatched') && !myForm.get('newPassword2').hasError('required')
          && myForm.controls['newPassword'].touched">
          Le mot de passe est identique
        </div>
      </div>

      <button type="submit" > Valider </button>
    </form>

    <div class="notification" [hidden]="hide">
      <p> Changement du mot de passe avec succès </p>
    </div>
  </div>
</div>
