.password{
  position:relative;z-index:5;

  .input-group{
    .input-group-addon, input{background-color:#1b3866;color:#fff;font-family:'Lato', sans-serif;
      border:0;outline:0;box-shadow:0 0 0;

      img{width:25px;height:25px;}
    }

    input{padding:20px 20px 20px 0;border-radius:0 0 15px 0;width:100%}

    .input-group-addon{border-radius:0 0 0 15px;}
  }

  label{background-color:#1b3866;color:#ffffff;font-family: 'Lato', sans-serif;width:100%;
    border-radius:20px 20px 0 0;margin-bottom:0;padding:5px 5px 5px 15px;border-bottom:1px solid rgba(255,255,255,0.3)
  }

  button{width:100%;padding:10px;background-color:#1b3866;color:#fff;border-radius:15px;margin-top:20px;}
}
