.signup{
  position:relative;z-index:5;margin-bottom:25px;

  .input-group{
    .input-group-addon, input{background-color:#1b3866;color:#fff;font-family:'Lato', sans-serif;
      border:0;outline:0;box-shadow:0 0 0;

      img{width:25px;height:25px;}
    }

    input{padding:20px 20px 20px 0;border-radius:0 0 15px 0;width:100%}

    .input-group-addon{border-radius:0 0 0 15px;}
  }

  label{background-color:#1b3866;color:#ffffff;font-family: 'Lato', sans-serif;width:100%;
    border-radius:20px 20px 0 0;margin-bottom:0;padding:5px 5px 5px 15px;border-bottom:1px solid rgba(255,255,255,0.3)
  }

  button{width:100%;padding:10px;background-color:#1b3866;color:#fff;border-radius:15px;margin-top:20px;}

  .inform{color:#fff;font-family:'Lato', sans-serif;font-weight:bold;position:relative;z-index:-1;
    margin-top:-20px;padding:25px 0 5px 0;border-radius:15px;}

  .strength{background-color:#d6d6d6;color:#000;position:relative;z-index:-1;
    & span{
      position:relative;z-index:55;
    }}
  .error{background-color:#c80000;}
  .valid{background-color:#00e015;}

  .pwStrength{height:100%;position:absolute;top:0;border-radius:15px;}
}

/* Mobile */
@media all and (min-width:992px) {
  .chps_supp:before{
    content:"";position:absolute;width:1px;height:88%;top:7%;left:-25%;background-color:#1b3866;
  }
}
