<div class="account" *ngIf="currentUser && !isEdited">
  <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10 col-xs-12">
    <div class="section-info">
      <div class="section-group mobile-group">
        <img src="app/images/icons/user.png" alt="prenom-nom" />
        <p> {{ currentUser.firstname }} {{currentUser.lastname}}</p>
      </div>

      <div class="section-group">
        <div class="part1">
          <img src="app/images/icons/group.png" alt="bu-viseo" />
          <p> {{ currentUser.bu }}</p>
        </div>

        <div class="part2">
          <img src="app/images/icons/business.png" alt="poste-bu" class="special-icon-redimension" />
          <p> {{ currentUser.poste }}</p>
        </div>
      </div>

      <div class="section-group special-contact">
        <div class="part1">
          <img src="app/images/icons/mail.png" alt="email" />
          <p> {{ currentUser.email }}</p>
        </div>

        <div class="part2">
          <img src="app/images/icons/contact2.png" alt="telephone" />
          <p> {{ currentUser.phone }}</p>
        </div>
      </div>

      <div class="section-group">
        <div class="part1">
          <img src="app/images/icons/locate.png" alt="adresse" />
          <p> {{ currentUser.address }} </p>
        </div>

        <div class="part2">
          <img src="app/images/icons/city.png" alt="cp-city" class="special-icon-redimension" />
          <p> {{ currentUser.cp }}, {{currentUser.city}}</p>
        </div>
      </div>

      <button (click)="goToEdit()"> Editer son profil </button>
    </div>
  </div>
</div>

<edit *ngIf="isEdited" [currentUser]="currentUser" (editUser)="wasEdited();"></edit>
