<div class="back" (click)="goBack()"><img src="app/images/icons/back.png" alt="back" /></div>

<div class="container proposition" *ngIf="proposition">
  <img class="profil" src="{{ proposition.user_creator.profil }}" alt="profil-creator" />

  <div class="row row-proposition">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 detail-creator">

      <div class="caracteristique-creator">
        <h2> {{proposition.user_creator.firstname }} {{proposition.user_creator.lastname }}</h2>
        <h3> {{proposition.user_creator.poste }} </h3>
        <p> {{proposition.user_creator.bu }} </p>

        <div class="row">
          <div class="col-xs-6 detail-group">
            <img src="app/images/icons/contact.png" alt="icon-phone" />
            <span> {{proposition.user_creator.phone}} </span>
          </div>
          <div class="col-xs-6 detail-group">
            <img src="app/images/icons/mail2.png" alt="icon-mail" />
            <span> {{proposition.user_creator.email}} </span>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 detail-restaurant"
         [ngStyle]="{'background-image': 'url(' + getClassBySpeciality(proposition.restaurant.speciality) + ')'}">
      <div class="opacity-detail-restaurant"></div>
      <div class="override">
        <h2> {{ proposition.restaurant.name }} </h2>
        <h3> {{ proposition.restaurant.speciality }} </h3>

        <p> {{ proposition.restaurant.position }} </p>
        <h4> {{ proposition.date }} </h4>
      </div>

    </div>
  </div>

  <div class="list-participant">
    <h2> Participants </h2>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
         *ngFor="let participant of proposition.participants | slice:0:5">
      <div class="participant">
        <img src="{{participant.profil}}" alt="profil" />

        <p> {{participant.firstname}} </p>
        <p> {{participant.lastname}} </p>

        <p> <b>{{participant.bu}}</b> : {{participant.poste}} </p>

        <p> {{participant.email}}</p>
        <p> {{participant.phone}}</p>
      </div>
    </div>
  </div>

</div>

<div class="effect-background">
  <div class="effect-circle"></div>
</div>
