<div class="restaurant-favoris">
  <h1> Favoris </h1>

  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
       *ngFor="let resto of restaurantFavoris" (click)="goToRestaurant(resto.id)">
    <div class="restaurant"
         [ngStyle]="{'background-image': 'url(' + getClassBySpeciality(resto.speciality) + ')'}">

      <div class="background-opacity"></div>
      <div class="row flex-resto">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
          <h2>{{resto.name}}</h2>
          <p> {{resto.speciality}} </p>
        </div>

        <div *ngIf="participation === resto.id" class="check-in">
          <img src="app/images/icons/valid.png"  alt="Restaurant validé" /><span> Bon appétit ! </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" *ngIf="!restaurantFavoris || restaurantFavoris.length === 0">
    <h3> Vous n'avez pas encore de restaurants favoris ... </h3>
  </div>

</div>
