.searchByName{
  label{font-style:italic;font-family:'Lato', sans-serif;}

  input[type='text']{
    border:0;border-bottom:1px solid rgba(0,0,0,0.3);border-radius:0;box-shadow:0 0 0;outline:0;
  }
}

.searchBySpeciality{

}
