<div class="menu" (click)="openMenu()" *ngIf="!isOpen && isLogged">
  <img src="app/images/icons/categories.png" alt="menu"  />
</div>
<div class="menu" (click)="closeMenu()" *ngIf="isOpen && isLogged">
  <img src="app/images/icons/close.png" alt="menu" />
</div>

<div class="deroulant" #deroulant>
  <a routerLink="home">ACCUEIL</a>
  <a routerLink="resto">LISTE DES RESTOS</a>
  <a routerLink="favori">RESTOS FAVORIS</a>
  <a routerLink="propositions">PROPOSITIONS</a>
  <a routerLink="groupes">GROUPES</a>
  <a routerLink="profil">MON COMPTE</a>
  <a (click)="logout()">SE DECONNECTER</a>
</div>

<router-outlet></router-outlet>

<app-spinner></app-spinner>
