<div class="col-lg-3 col-md-3" *ngIf="currentUser">
  <div class="home-right-side">
    <img class="profil" src="{{ currentUser.profil }}" alt="profil-creator" />

    <div class="detail-user">
      <h2> {{currentUser.firstname }} {{currentUser.lastname }}</h2>
      <h3> {{currentUser.poste }} </h3>
      <p> {{currentUser.bu }} </p>

      <div class="row">
        <div class="col-xs-6 detail-group">
          <img src="app/images/icons/contact.png" alt="icon-phone" />
          <span> {{currentUser.phone}} </span>
        </div>
        <div class="col-xs-6 detail-group">
          <img src="app/images/icons/mail2.png" alt="icon-mail" />
          <span> {{currentUser.email}} </span>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 detail-group">
          <img src="app/images/icons/locate.png" alt="icon-phone" />
          <span> {{currentUser.address}} </span>
        </div>
        <div class="col-xs-6 detail-group">
          <img src="app/images/icons/mail2.png" alt="icon-mail" />
          <span> {{currentUser.cp}}, {{currentUser.city}} </span>
        </div>
      </div>
    </div>
  </div>

  <div class="router">
    <button type="button" class="left-button" [ngClass]="{'active' : routing}" (click)="getFavoris()">Favoris</button>
    <button type="button" class="right-button" [ngClass]="{'active' : !routing}" (click)="getGroupes()">Groupes</button>
  </div>

  <div class="resultRouter">
    <div *ngIf="routing">
      <div class="restaurant" (click)="goToRestaurant(restaurant.id)" *ngFor="let restaurant of restaurantsFavoris">
        <h4> {{ restaurant.name }} </h4>

        <p> {{ restaurant.rating | rating }} </p>
      </div>
      <div class="restaurant" *ngIf="!restaurantsFavoris">
        <p>Vous n'avez pas encore de restaurant favoris...</p>
      </div>
    </div>
    <div *ngIf="!routing">
      <div class="groupe" *ngFor="let groupe of groupes">
      </div>
      <div class="groupe" *ngIf="!groupes">
        <p>Vous n'avez pas encore de groupe...</p>
      </div>
    </div>
  </div>

</div>
