<div class="back" (click)="goBack()"><img src="app/images/icons/back.png" alt="back" /></div>

<div class="restaurant-page" *ngIf="resto">
  <div class="detail-restaurant" [ngStyle]="{'background-image': 'url(' + getClassBySpeciality(resto.speciality) + ')'}">
    <div class="background-detail-restaurant"></div>
    <div class="container">
      <h1>{{resto.name}}</h1>

      <h4>Spécialité : <i>{{ resto.speciality }}</i></h4>

      <button class="favoris remove" (click)="removeFavoris()" *ngIf="isFavoris">
        <img src="app/images/icons/favoris.png" alt="favoris" >
        <span >Retirer des favoris</span>
      </button>

      <button class="favoris add" (click)="addFavoris()" *ngIf="!isFavoris">
        <img src="app/images/icons/favoris.png" alt="favoris" >
        <span>Ajouter en favori</span>
      </button>

      <div class="detailsContact">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <p><img src="app/images/icons/localisation.png" /> {{ resto.position }} </p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <p><img src="app/images/icons/contact.png" /> {{ resto.contact }} </p>
        </div>
      </div>
    </div>
  </div>

  <div class="description">
    <div class="rating col-lg-3 col-md-4 col-sm-12 col-xs-12">
      <h4>{{ resto.rating }} / 5</h4>
      <p> {{ resto.rating | rating }} </p>
    </div>
    <div class="testimonial col-lg-3 col-md-4 col-sm-12 col-xs-12">
      <img src="app/images/icons/quote1.png" alt="quote" />
      <p *ngIf="testimonial"> {{ testimonial.description }} </p>
      <img src="app/images/icons/quote2.png" alt="quote" />
    </div>
    <div class="website col-lg-3 col-md-4 col-sm-12 col-xs-12">
      <h4>SITE WEB</h4>
      <a href="{{resto.website}}">{{ resto.website }}</a>
    </div>
  </div>

  <restaurant-noon *ngIf="currentIdResto" [currentId]="currentIdResto"></restaurant-noon>

  <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="17">
    <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
  </sebm-google-map>
</div>
