/* You can add global styles to this file, and also import other style files */
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootstrap-sass/assets/stylesheets/bootstrap-sprockets";

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
  margin:0;
}

.hideMobile{display:block;}
.showMobile{display:none;}

@media all and (max-width:992px){
  .hideMobile{display:none;}
  .showMobile{display:block;}
}
